/* .pos-receipt {  */
    /* margin-left: 20%; */
    /* min-width:500mm;*/
	/* margin-left: auto;margisssn-right: auto; */
    /* width: 100%;text-align:center" */
    /* padding-left:50% */
    /* text-align: center; */
 /* }  */

/* .pos-receipt .order-details {
    font-size: 12px;
} */
